* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
.map_background{
      width: 175%;
      height: 350%;
     background-image:url(./image/Hell.jpg);
     background-size:cover;
     background-position:center ;
     background-repeat: no-repeat ;
     border: 2px solid black;
     position: absolute;
}
body{
     height:10vh;
     width:10vh;
}
.player {
      width: 75px;
      height: 75px;
      background-image: url(./image/קיריל.jpg);
      background-size: cover;
      position: absolute;
      top: 1000px;
      left: 1000px;
      border-radius: 50%;
    }
 