html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  width: 4000px;
  height: 4000px;
  display: block;
}